* text=auto eol=lf

/.gitattributes          export-ignore
/.github                 export-ignore
/.gitignore              export-ignore
/.markdownlint-cli2.yaml export-ignore
/.php-cs-fixer.dist.php  export-ignore
/.styleci.yml            export-ignore
/.symfony.insight.yaml   export-ignore
/README.md               export-ignore
/cache                   export-ignore
/composer.lock           export-ignore
/images                  export-ignore
/phpstan.neon            export-ignore
/phpunit.xml.dist        export-ignore
/psalm.xml               export-ignore
/rector.php              export-ignore
/tests                   export-ignore
/vendor-bin              export-ignore
