parameters:
    level: 10
    tmpDir: cache/phpstan
    paths:
        - src
        - tests

    excludePaths:
        - tests/Legacy/*
        - tests/targets/*
        - vendor

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true

    type_coverage:
        constant: 100
        declare: 100
        param: 100
        property: 100
        return: 100
