parameters:
    level: 10
    phpVersion: 80300 # to check check missing override method attribute
    tmpDir: cache/phpstan
    paths:
        - src
        - tests

    excludePaths:
        - tests/Legacy/*
        - tests/targets/*
        - vendor

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true

    type_coverage:
        constant: 0 # PHP 8.3
        declare: 100
        param: 100
        property: 100
        return: 100
