parameters:
    level: 10
    phpVersion: 80300 # to check check missing override method attribute
    tmpDir: cache/phpstan
    paths:
        - src
        - tests

    excludePaths:
        - tests/Legacy/*
        - vendor

    type_coverage:
        param: 100
        return: 100
        property: 100

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true
